extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Mathieu Desilets
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | After more than 10 years as an IT support engineer and Sysadmin, i decided that i wanted to learn web development. 
            | I am currently going the self-taught route using all the amazing free and cheap resources available nowdays.
            | I will be soon available for a junior web developer job and i hope to join your team to show all the skills and tools
            | i have learned in the last months. Do not hesitate to contact me if you think i would be a good fit for your team!
      .cell.portfolio-meta.small-6.medium-2.large-3

        h6 Skills

        ul
          li HTML
          li CSS
          li Javascript
          li Node.js
          li Express
          li Pug
          li GitHub
          li Powershell
          li AWS
          li Azure Cloud
          li Docker
        h6 Contact Info

        ul
          li 888-888-8888
          li mathieu.desilets@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/mathieudesilets/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/DeeBoyZero', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/mathdesy', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  