extends layout.pug

block content
    section.error
        p= `${err.message} - ${err.status}`
        img.error-img(src='/static/images/error.jpg' alt='Pug in a blanket')
        br
        a(href='/') â† Back